DEVELOG_GITHUB_CLIENT_ID=abc
DEVELOG_GITHUB_CLIENT_SECRET=defg
JDBC_DATABASE_URL=jdbc:postgresql://172.17.0.1:5432/dev
JDBC_DATABASE_USERNAME=postgres
JDBC_DATABASE_PASSWORD=postgres
MONGODB_DATABASE_URI=mongodb://172.17.0.1:27017/test
