DEVELOG_GITHUB_CLIENT_ID=c75a62502e6649248e07
DEVELOG_GITHUB_CLIENT_SECRET=33b852f02336a8c2bf2a1fb519609c7ba652bcf1
JDBC_DATABASE_URL=jdbc:postgresql://172.17.0.1:5432/dev
JDBC_DATABASE_USERNAME=postgres
JDBC_DATABASE_PASSWORD=postgres
MONGODB_DATABASE_URI=mongodb://172.17.0.1:27017/test
