<div xmlns:th="http://www.thymeleaf.org" id="editor" class="row"
     th:unless="${editor.isEmpty() and #httpServletRequest.getRequestURI().contains('/search')}">
    <div id="input-container" class="col">
        <div class="input-field">
            <textarea id="input" class="materialize_textarea" th:field="${editor.input}"
                      th:disabled="${#httpServletRequest.getRequestURI().contains('/search')}"></textarea>
            <label for="input" th:text="#{editorLabel}">Markdown + PlantUML Editor</label>
            <a id="downloadRaw" href="javascript:void(0);"
               class="btn-floating btn-large waves-effect indigo lighten-1 tooltipped"
               data-position="right" data-delay="50" th:data-tooltip="#{downloadRaw}">
                <i class="material-icons">file_download</i>
            </a>
        </div>
    </div>
    <div id="handle"></div>
    <div id="output-container" class="col center">
        <div class="card white">
            <div class="card-content">
                <iframe id="output" th:text="${editor.output}"></iframe>
                <div id="output0" th:text="${editor.output}" style="display: none;"></div>
                <a id="downloadHtml" href="javascript:void(0);"
                   class="btn-floating btn-large indigo lighten-1 tooltipped"
                   data-position="left" data-delay="50" th:data-tooltip="#{downloadHtml}">
                    <i class="material-icons">file_download</i>
                </a>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript" th:inline="javascript" xmlns:th="http://www.thymeleaf.org"
        th:unless="${editor.isEmpty() and #httpServletRequest.getRequestURI().contains('/search')}">
    initDownloadButtons(/*[[${date}]]*/ "search");
    enableEditorResizing('#editor', '#input-container', '#output-container', '#handle');

</script>