<div>
    <h3>[[#{online}]]</h3>
    <canvas id="myChart" width="16" height="6"></canvas>
</div>
<div class="other">
    <h3>[[#{other}]]</h3>
    <div id="other"></div>
</div>
<script type="text/javascript" xmlns:th="http://www.thymeleaf.org" th:inline="javascript">
    i18n.online = /*[[#{online}]]*/ null;
    i18n.numberOnline = /*[[#{numberOnline}]]*/ null;
    i18n.date = /*[[#{date}]]*/ null;
    var events = /*[[${events}]]*/ [];
    displayOtherEvents(events);
    displayOnlineEvents(events, i18n);

</script>