<header xmlns:th="http://www.thymeleaf.org">
    <nav class="indigo darken-3 main-nav" role="navigation">
        <div class="nav-wrapper container">
            <a href="/" class="brand-logo">
                <div>
                    <img src="/img/logo.png"/>
                    <span class="hide-on-med-and-down">Develog</span>
                </div>
            </a>
            <ul class="right">
                <li th:if="not${loggedUser}">
                    <a class="waves-effect blue darken-1 btn" href="/oauth2/authorization/github" id="login">
                        <i class="material-icons left">
                            <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
                             x="0px" y="0px" width="32px" height="32px" viewBox="0 0 32 32" enable-background="new 0 0 32 32" xml:space="preserve">
                            <image id="image0" width="32" height="32" x="0" y="0"
                                xlink:href="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACAAAAAgCAQAAADZc7J/AAAABGdBTUEAALGPC/xhBQAAACBjSFJN
                                AAB6JgAAgIQAAPoAAACA6AAAdTAAAOpgAAA6mAAAF3CculE8AAAAAmJLR0QA/4ePzL8AAAAHdElN
                                RQfhDA8NHy/iDD9EAAACIElEQVRIx5WVvUtbYRTGT24vpEJCYuhHuihuToVohBaKpQ6lW2dBsJiK
                                3TqkhdLBP6CLo4PgHsVQJ+lUbF06uGTIoJJgu0ibJaQqJCG/Dknee+715t7b8y7nnPd5nvt+nXNj
                                iI/dkZfyTB7KlCRE5K/UpSJfZV8aPli8I0eJDn7WoUTOi3eHKbboEWQ9tkiNEshRI4rV9Doc+gLN
                                SHSAJgtegdn/oPclZrXAOPXBRJW9AKkme1QHfp1xR2DbQJYQ4hS4AFpUOOSQCi3gggJxhCWD3R4K
                                5NU3Zsx9TGOZ87GYNmc/o9D5vkBZpeaQkDGn0GVEyNJVqeVQgWWF7pIV1lTiF5lQgQw/FWNNKKlw
                                JZQuCCuKURJzLdB1P9KRI6U2XRWuTHAeiS4I54ZzZcmYKcy2RLWO8cYslb4fWeCe41rSMn5STwTS
                                k8ZvWVJTUy8iCWhUzZJjFRbFDqXbUlTRsbDoqreN0BvYcOEXhSSXrtQu2ZHkB+y6sJckBWETgE88
                                5RsAbXZYJc8tQ7R5zBvKtD39YbNfjRNcAz2KxPmhKi1mBGJ89mkv10wMG8r6IPWIKVMqT1yLn/cR
                                WHc6ks0RAF8Q0hT4yHO1AUG4e4N+hK2bapYzAN6OOL60h342PGoHMskpAN95zys+cDtA4JRJvx9L
                                hgMFSo8UONBtx73QGK/5HSjwh1V1OzcEBCFBkRMaxF3ZOA1OeEfCi48R+viD7R/aXKLWQo0lLAAA
                                ACV0RVh0ZGF0ZTpjcmVhdGUAMjAxNy0xMi0xNVQxMzozMTo0Ny0wNzowMK8KIToAAAAldEVYdGRh
                                dGU6bW9kaWZ5ADIwMTctMTItMTVUMTM6MzE6NDctMDc6MDDeV5mGAAAAGXRFWHRTb2Z0d2FyZQBB
                                ZG9iZSBJbWFnZVJlYWR5ccllPAAAAABJRU5ErkJggg==">
                            </image>
                        </svg>
                        </i>
                        [[#{loginWithGithub}]]
                    </a>
                </li>
                <li th:if="${loggedUser}">
                    <a class="waves-effect blue darken-1  btn" href="/logout">
                        <i class="material-icons left">exit_to_app</i>
                        [[#{logout}]]
                    </a>
                </li>
            </ul>
            <div th:if="${loggedUser}" class="right hide-on-med-and-down user-info">
                <img th:src="'https://github.com/' + ${loggedUser.name} + '.png'">
                <div class="right">
                    <span>
                        <span class="username" th:text="${loggedUser.name}">USER</span>
                    </span>
                    <span>
                        <span th:text="${dataSize} + ' kB'">SIZE</span>
                    </span>
                </div>
            </div>
            <ul th:if="${loggedUser}" class="right hide-on-med-and-down">
                <li th:classappend="${#httpServletRequest.getRequestURI() == '/note' ? 'active':''}">
                    <a href="/note" class="tooltipped" data-position="bottom" data-delay="50"
                       th:data-tooltip="#{globalNote}">
                        <i class="material-icons">note</i>
                    </a>
                </li>
                <li th:classappend="${#httpServletRequest.getRequestURI().contains('/note/2') ? 'active':''}">
                    <a href="javascript:void(0)" onclick="openTodayNote()" class="tooltipped" data-position="bottom"
                       data-delay="50" th:data-tooltip="#{todayNote}">
                        <i class="material-icons">note_add</i>
                    </a>
                </li>
                <li class="datepicker">
                    <a href="javascript:void(0)" onclick="initializeDatePicker(this)" class="tooltipped"
                       data-position="bottom" data-delay="50" th:data-tooltip="#{calendar}">
                        <i class="material-icons">date_range</i>
                    </a>
                </li>
                <li th:classappend="${#httpServletRequest.getRequestURI().contains('/search') ? 'active':''}">
                    <a href="/search" class="tooltipped" data-position="bottom" data-delay="50"
                       th:data-tooltip="#{search}">
                        <i class="material-icons">search</i>
                    </a>
                </li>
                <li th:if="${loggedUser.role.name() == 'ADMIN'}"
                    th:classappend="${#httpServletRequest.getRequestURI().contains('/admin') ? 'active':''}">
                    <a href="/admin" class="tooltipped" data-position="bottom" data-delay="50"
                       th:data-tooltip="#{admin}">
                        <i class="material-icons">settings_applications</i>
                    </a>
                </li>
            </ul>
            <ul th:if="${loggedUser}" id="nav-mobile" class="sidenav">
                <div class="center user-info indigo darken-3">
                    <img th:src="'https://github.com/' + ${loggedUser.name} + '.png'">
                    <div>
                        <div class="username" th:text="${loggedUser.name}">USER</div>
                        <div th:text="${dataSize} + ' kB'">SIZE</div>
                    </div>
                </div>
                <div class="divider"></div>
                <ul>
                    <li th:classappend="${#httpServletRequest.getRequestURI() == '/note' ? 'active':''}">
                        <a href="/note">
                            <i class="material-icons">note</i>
                            [[#{globalNote}]]
                        </a>
                    </li>
                    <li th:classappend="${#httpServletRequest.getRequestURI().contains('/note/2') ? 'active':''}">
                        <a href="javascript:void(0)" onclick="openTodayNote()">
                            <i class="material-icons">note_add</i>
                            [[#{todayNote}]]
                        </a>
                    </li>
                    <li th:classappend="${#httpServletRequest.getRequestURI().contains('/search') ? 'active':''}">
                        <a href="/search">
                            <i class="material-icons">search</i>
                            [[#{search}]]
                        </a>
                    </li>
                    <li th:if="${loggedUser.role.name() == 'ADMIN'}"
                        th:classappend="${#httpServletRequest.getRequestURI().contains('/admin') ? 'active':''}">
                        <a href="/admin">
                            <i class="material-icons">settings_applications</i>
                            [[#{admin}]]
                        </a>
                    </li>
                </ul>
            </ul>
            <a th:if="${loggedUser}" href="javascript:void(0)" data-target="nav-mobile"
               class="sidenav-trigger tooltipped"
               data-position="bottom" data-delay="50" th:data-tooltip="#{menu}">
                <i class="material-icons">menu</i>
            </a>
            <a th:if="${loggedUser != null and loggedUser.role.name() == 'ADMIN'}" href="javascript:void(0)"
               th:unless="${not #httpServletRequest.getRequestURI().contains('/admin')}" data-target="nav-admin"
               class="sidenav-trigger tooltipped" data-position="bottom" data-delay="50" th:data-tooltip="#{menuAdmin}">
                <i class="material-icons">settings</i>
            </a>
            <a th:if="${loggedUser}" href="javascript:void(0)" onclick="initializeDatePicker(this);" class="tooltipped sidenav-trigger
             show-on-medium-and-down hide-on-large-only" data-position="bottom" data-delay="50"
               th:data-tooltip="#{calendar}">
                <i class="material-icons">date_range</i>
            </a>
        </div>
    </nav>
</header>
<script th:inline="javascript" xmlns:th="http://www.thymeleaf.org">
    var i18n = {
        calendar: {
            clear: /*[[#{clear}]]*/ 'Clear',
            today: /*[[#{today}]]*/ 'Today',
            done: /*[[#{done}]]*/ 'Ok',
            previousMonth: /*[[#{previousMonth}]]*/ '‹',
            nextMonth: /*[[#{nextMonth}]]*/ '›',
            months: (/*[[#{months}]]*/ "").split(','),
            monthsShort: (/*[[#{monthsShort}]]*/ "").split(','),
            weekdaysShort: (/*[[#{weekdaysShort}]]*/ "").split(','),
            weekdays: (/*[[#{weekdays}]]*/ "").split(','),
            weekdaysAbbrev: (/*[[#{weekdaysAbbrev}]]*/ "").split(',')
        }
    }
</script>