<table xmlns:th="http://www.thymeleaf.org" class="highlight centered borderless striped">
    <thead>
    <tr>
        <th>Id</th>
        <th th:text="#{name}">Name</th>
        <th th:text="#{dataSize}">Data size</th>
        <th th:text="#{role}">Role</th>
        <th th:text="#{action}">Action</th>
    </tr>
    </thead>

    <tbody>
    <tr th:each="user : ${users}">
        <td th:text="${user.key.id}">0</td>
        <td th:text="${user.key.name}">John</td>
        <td>[[${user.value}]] kB</td>
        <td>
            <select th:onChange="'javascript:changeUserRole(\'' + ${user.key.id} + '\', ' + this[this.selectedIndex].value + ');'">
                <option th:each="role : ${T(io.github.t3r1jj.develog.model.data.User.Role).values()}"
                        th:value="${role}" th:text="${role}" th:selected="${role == user.key.role}">ROLE
                </option>
            </select>
        </td>
        <td>
            <a class="waves-effect blue darken-1  btn"
               th:onclick="'openEmail(\'' + ${user.key.id} + '\', \'' + ${user.key.name} + '\');'">
                <i class="material-icons left">email</i>Email</a>
        </td>
    </tr>
    </tbody>
</table>
<script type="text/javascript">
    // It IS used, watch out for renaming
    $(document).ready(function () {
        $('select').select();
    });

</script>