<table xmlns:th="http://www.thymeleaf.org">
    <thead>
    <tr>
        <th>Id</th>
        <th>Name</th>
        <th>Data size</th>
        <th>Role</th>
        <th>Action</th>
    </tr>
    </thead>

    <tbody>
    <tr th:each="user : ${users}">
        <td th:text="${user.key.id}">0</td>
        <td th:text="${user.key.name}">John</td>
        <td>[[${user.value}]] kB</td>
        <td></td>
        <td>
            <a class="waves-effect waves-light btn"><i class="material-icons left">email</i>Email</a>
        </td>
    </tr>
    </tbody>
</table>