<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:lang="${#locale.language}">
<head>
    <title th:text="#{adminPageTitle}">Develog - Admin Panel</title>
    <meta th:replace="fragments/head"/>
    <link th:href="@{/owr/admin.css}" type="text/css" rel="stylesheet" media="screen,projection"/>
    <script th:src="@{/owr/admin.js}" th:inline="javascript"></script>
</head>
<body>
<ul id="nav-admin" class="sidenav sidenav-fixed" role="navigation">
    <li class="center admin-header indigo darken-4 white-text">
        <h4 th:text="#{adminPanel}">Admin panel</h4>
    </li>
    <li>
        <div class="divider"></div>
    </li>
    <li><a href="#users"><i class="material-icons">face</i>[[#{users}]]</a></li>
    <li><a href="#events"><i class="material-icons">stars</i>[[#{events}]]</a></li>
    <li><a href="#errors"><i class="material-icons">error</i>[[#{errors}]]</a></li>
    <li><a href="#logs"><i class="material-icons">description</i>[[#{logs}]]</a></li>
    <li><a href="#health"><i class="material-icons">favorite</i>[[#{health}]]</a></li>
    <a class="waves-effect blue darken-1 btn-large" onclick='openEmail("USERS","EVERYONE")'>
        <i class="material-icons left">email</i>
        [[#{emailEveryone}]]
    </a>
    <a class="waves-effect blue darken-1 btn-large" onclick="clearLogs()">
        <i class="material-icons left">layers_clear</i>
        [[#{clearLogs}]]
    </a>
</ul>
<div th:replace="fragments/header"></div>
<main id="fragment"></main>
<div th:replace="fragments/footer"></div>
</body>
</html>