<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <title>Develog - Developer Logbook</title>
    <meta th:replace="fragments/head"/>
    <link th:href="@{/owr/base.css}" type="text/css" rel="stylesheet" media="screen,projection"/>
    <script th:src="@{/owr/base.js}"></script>
</head>
<body>
<div th:replace="fragments/header"></div>
<main>
    <div class="container initial">
        <div class="row">
            <div class="col s12 l8 center">
                <img src="/img/idea.png">
            </div>
            <div class="col s12 l4">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur consectetur magna eu risus malesuada
                fermentum. Proin velit nisi, mattis vitae feugiat ut, maximus in lorem. Sed tempor ipsum in consequat
                feugiat. Donec porta arcu orci, sed vestibulum urna feugiat ac. In hac habitasse platea dictumst.
                Phasellus
                suscipit massa imperdiet, ultricies arcu nec, lobortis dolor. Curabitur in ullamcorper massa. Aliquam
                eget
                varius eros, a dapibus nisi. Ut euismod arcu in erat rutrum, ac dignissim quam auctor. Mauris lacus
                nisl,
                vulputate quis semper at, interdum eget turpis. Integer efficitur vitae est vel varius. Aenean aliquam
                eros
                et velit ornare lacinia.
            </div>
        </div>
    </div>
    <div class="parallax-container">
        <div class="parallax" style="opacity: 0"><img src="/img/notebook.jpg"></div>
    </div>
    <div class="container">
        <div class="row">
            <h3 class="header">How does it work?</h3>
            <div class="valign-wrapper center how-imgs">
                <div class="col s3 center">
                    <figure>
                        <img src="/img/markdown.png">
                        <figcaption>Markdown</figcaption>
                    </figure>
                </div>
                <div class="col">
                    <h3 class="header">+</h3>
                </div>
                <div class="col s3 center">
                    <figure>
                        <img src="/img/uml.png">
                        <figcaption>UML (PlantUML)</figcaption>
                    </figure>
                </div>
                <div class="col">
                    <h3 class="header">→</h3>
                </div>
                <div class="col s3 center">
                    <figure>
                        <img src="/img/html.png">
                        <figcaption>HTML</figcaption>
                    </figure>
                </div>
            </div>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur consectetur magna eu risus malesuada
            fermentum. Proin velit nisi, mattis vitae feugiat ut, maximus in lorem. Sed tempor ipsum in consequat
            feugiat. Donec porta arcu orci, sed vestibulum urna feugiat ac. In hac habitasse platea dictumst.
            Phasellus
            suscipit massa imperdiet, ultricies arcu nec, lobortis dolor. Curabitur in ullamcorper massa. Aliquam
            eget
            varius eros, a dapibus nisi. Ut euismod arcu in erat rutrum, ac dignissim quam auctor. Mauris lacus
            nisl,
            vulputate quis semper at, interdum eget turpis. Integer efficitur vitae est vel varius. Aenean aliquam
            eros
            et velit ornare lacinia.
        </div>
        <div class="row valign-wrapper quotes">
            <blockquote class="col s5">
                This is an example quotation that uses the blockquote tag.
                This is an example quotation that uses the blockquote tag.
                This is an example quotation that uses the blockquote tag.
                This is an example quotation that uses the blockquote tag.
                This is an example quotation that uses the blockquote tag.
            </blockquote>
            <div class="col s6 offset-s1 single-right-img">
                <img src="/img/code.png">
            </div>
        </div>
    </div>
</main>
<div th:replace="fragments/footer"></div>
<script>
    $(document).ready(function () {
        setTimeout(function () {
            var parallax = $('.parallax');
            parallax.parallax();
            parallax.animate({
                opacity: 1
            }, 1000);
        }, 100);
    });
</script>
</body>
</html>
