<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <title>Develog - Note</title>
    <meta th:replace="fragments/head"/>
    <link th:href="@{/owr/note.css}" type="text/css" rel="stylesheet" media="screen,projection"/>
    <script th:src="@{/owr/note.js}"></script>
<body>
<div th:replace="fragments/header"></div>
<main>
    <form id="form" th:object="${editor}">
        <h4 class="date-type" th:text="${#httpServletRequest.getRequestURI() == '/note' ? 'Global note' : note.date}">
            DATE</h4>
        <div id="tags" class="chips chips-autocomplete"><i class="material-icons">label</i></div>
        <div id="editor" th:replace="fragments/editor"></div>
    </form>
    <a id="help" class="waves-effect waves-light btn-large btn-floating"
       onclick="$('.tap-target').featureDiscovery('open');">
        <i class="material-icons">help</i>
    </a>
    <div class="tap-target" data-target="help">
        <div class="tap-target-content">
            <h5>Help</h5>
            <div class="row">
                <div class="col s6 center">
                    <p>abc</p>
                    <p>abc</p>
                    <p>abc</p>
                    <p>abc</p>
                </div>
                <div class="col s6 center">
                    <p>abc</p>
                    <p>abc</p>
                    <p>abc</p>
                    <p>abc</p>
                </div>
            </div>
        </div>
    </div>
</main>

<div th:replace="fragments/footer"></div>
<script th:inline="javascript">
    var autocompleteTags = /*[[${tags}]]*/ [];
    var tags = /*[[${note.tags}]]*/ null;
    var fileName = (/*[[${note.date}]]*/ null);
    initChips(tags, autocompleteTags);
    initEditor();
    updateNote();
    initDownloadButtons(fileName);
    $('.tap-target').featureDiscovery();
</script>
</body>
</html>
