<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Develog - Note</title>
    <meta th:replace="fragments/head"/>
</head>
<body>
<div th:replace="fragments/header"></div>
<main>
    <form id="form" th:object="${editor}">
        <h4 class="center orange-text" th:text="${note.date}">DATE</h4>
        <div id="tags" class="chips chips-autocomplete"></div>
        <div class="row">
            <div class="col s6">
                <h5 class="header center">Editor</h5>
                <div class="input-field col s12">
                    <textarea id="input" class="materialize-textarea" th:field="*{input}"></textarea>
                    <label for="input">Textarea</label>
                </div>
            </div>
            <div class="col s6 center">
                <h5 class="header center">View</h5>
                <div class="card white">
                    <div class="card-content">
                        <iframe id="output" th:text="*{output}"></iframe>
                    </div>
                </div>
            </div>
        </div>
    </form>
</main>

<div th:replace="fragments/footer"></div>

<script type="text/javascript" th:inline="javascript">
    /*<![CDATA[*/

    var chips = [];
    var tags = [[${note.tags}]]
    for (i = 0; i < tags.length; i++) {
        chips.push({tag: tags[i].id.value});
    }
    $('#tags').chips({
        data: chips,
        placeholder: 'Enter a tag',
        secondaryPlaceholder: '+Tag',
        autocompleteOptions: {
            data: {
                'Apple': null,
                'Microsoft': null,
                'Google': null
            },
            limit: Infinity,
            minLength: 2
        },
        onChipAdd: function (e, chip) {
            var value = chip.innerText.substring(0, chip.innerText.length - 'close'.length)
            $.get($(location).attr('href') + '/tag', {action: "ADD", tag: value});
        },
        onChipDelete: function (e, chip) {
            var value = chip.innerText.substring(0, chip.innerText.length - 'close'.length)
            $.get($(location).attr('href') + '/tag', {action: "REMOVE", tag: value});
        }
    });

    function updateNote() {
        $.ajax({
            url: $(location).attr('href') + '/update',
            type: 'post',
            data: $('#form').serialize(),
            success: function (response) {
                if ($(response).find('.has-error').length) {
                    $("#output").contents().find('html').html(response);
                } else {
                    $("#output").contents().find('html').html(response);
                }
            }
        });
    }

    var pendingTimeout = false;
    $('#input').on('input propertychange change', function () {
        if (!pendingTimeout) {
            pendingTimeout = true;
            setTimeout(function () {
                updateNote();
                pendingTimeout = false;
            }, 1000);
        }
    });
    $('#input').on('paste', function (event) {
        var items = (event.clipboardData || event.originalEvent.clipboardData).items;
        console.log(JSON.stringify(items)); // will give you the mime types
        for (index in items) {
            var item = items[index];
            if (item.kind === 'file') {
                var blob = item.getAsFile();
                var reader = new FileReader();
                reader.onload = function (event) {
                    console.log(event.target.result)
                }; // data url!
                reader.readAsDataURL(blob);
            }
        }
    });

    updateNote();
    /*]]>*/
</script>
</body>
</html>
