<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <title>Develog - Note</title>
    <meta th:replace="fragments/head"/>
    <link th:href="@{/owr/base.css}" type="text/css" rel="stylesheet" media="screen,projection"/>
    <script th:src="@{/owr/note.js}"></script>
</head>
<body>
<div th:replace="fragments/header"></div>
<main>
    <form id="form" th:object="${editor}">
        <h4 class="center orange-text" th:text="${note.date}">DATE</h4>
        <div id="tags" class="chips chips-autocomplete"></div>
        <div class="row">
            <div class="col s6">
                <h5 class="header center">Editor</h5>
                <div class="input-field col s12">
                    <textarea id="input" class="materialize-textarea" th:field="*{input}"></textarea>
                    <label for="input">Textarea</label>
                    <a id="downloadRaw" href="javascript:void(0);"
                       class="btn-floating btn-large waves-effect waves-light red"><i class="material-icons">file_download</i></a>
                </div>
            </div>
            <div class="col s6 center">
                <h5 class="header center">View</h5>
                <div class="card white">
                    <div class="card-content">
                        <iframe id="output" th:text="*{output}"></iframe>
                    </div>
                    <a id="downloadHtml" href="javascript:void(0);"
                       class="btn-floating btn-large waves-effect waves-light red"><i class="material-icons">file_download</i></a>
                </div>
            </div>
        </div>
    </form>
</main>

<div th:replace="fragments/footer"></div>

<script th:inline="javascript">
    var tags = /*[[${note.tags}]]*/ null;
    var fileName = (/*[[${note.date}]]*/ null);
    initChips(tags);
    initEditor();
    updateNote();
    initDownloadButtons(fileName);
</script>
</body>
</html>
