<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:lang="${#locale.language}">
<head>
    <title th:text="#{searchPageTitle}">Develog - Search</title>
    <meta th:replace="fragments/head"/>
    <link th:href="@{/owr/note.css}" type="text/css" rel="stylesheet" media="screen,projection"/>
    <script th:src="@{/owr/note.js}"></script>
</head>
<body>
<div th:replace="fragments/header"></div>
<main>
    <form id="form">
        <div class="search-bar">
            <i class="material-icons icon">label</i>
            <div id="tags" class="chips chips-autocomplete"></div>
        </div>
        <div id="editor" class="row">
        </div>
    </form>
</main>

<div th:replace="fragments/footer"></div>

<script th:inline="javascript">
    var chipsLabel = /*[[#{tagsLabel}]]*/ null;
    var secondaryChipsLabel = /*[[#{tagsSecondaryLabel}]]*/ null;
    var autocompleteTags = /*[[${tags}]]*/ [];
    initChips([], autocompleteTags, chipsLabel, secondaryChipsLabel);
    if (/*[[${date}]]*/ null) {
        searchByDate(/*[[${date}]]*/);
    }

</script>
</body>
</html>
