<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <title>Develog - Note</title>
    <meta th:replace="fragments/head"/>
    <link th:href="@{/owr/base.css}" type="text/css" rel="stylesheet" media="screen,projection"/>
    <script th:src="@{/owr/note.js}"></script>
</head>
<body>
<div th:replace="fragments/header"></div>
<main>
    <form id="form">
        <!--<h4 class="center orange-text" th:text="${note.date}">DATE</h4>-->
        <div id="tags" class="chips chips-autocomplete"></div>
        <div id="editor" class="row">
        </div>
    </form>
</main>

<div th:replace="fragments/footer"></div>

<script th:inline="javascript">
    initChips([]);
    if (/*[[${date}]]*/ null) {
        searchByDate(/*[[${date}]]*/);
    }
</script>
</body>
</html>
